{% extends 'base.html' %}
{% load static %}

{% block content %}

    {#    {% include 'search.html' %}#}
    <div class="container-fluid header bg-white mt-5">
        <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
            <div class="col-md-6 p-5 mt-lg-5">
                <h1 class="display-5 animated fadeIn mb-4">Каталог квартир</h1>
                <p class="animated fadeIn mb-4 pb-2">Наша компания защищает интересы клиента в случае юридических
                    проблем по сделке</p>
            </div>
            <div class="col-md-6 animated fadeIn">
                <ul class="nav nav-pills d-inline-flex mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary {% if category == 'all' %} active {% endif %}"
                           href="{% url 'catalog:category' 'all' %}">Все</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary {% if category == 'for_sale' %} active {% endif %}"
                           href="{% url 'catalog:category' 'for_sale' %}">На продажу</a>
                    </li>
                    <li class="nav-item me-0">
                        <a class="btn btn-outline-primary {% if category == 'sales' %} active {% endif %}"
                           href="{% url 'catalog:category' 'sales' %}">Продано</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    {% include 'apartment_catalog_base.html' with apartments=page_obj %}
    {% include 'contact_base.html' %}
{% endblock %}


