{% load static %}

<!-- Testimonial Start -->
<div class="container-xxl py-5 mt-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Что о нас говорят?</h1>
            <p>96% клиентов довольны нашими услугами. С компанией сотрудничают эксперты в сфере
                недвижимости, которые непрерывно, вместе с нами, проходят обучение для предоставления
                качественных услуг. А после сделки - клиенты оценивают их работу.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Спасибо за помощь в приобретении квартиры и квалифицированное сопровождение сделки.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/client_img.svg' %}"
                             style="width: 45px; height: 45px;" alt="">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Татьяна</h6>
                            <small>Клиент</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Хочу выразить благодарность за грамотное сопровождение сделки, за четкость
                        и понимание поставленных целей. За выбором объекта обратилась к этим специалистам и уже на
                        следующий день сделка состоялась</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/client_img.svg' %}"
                             style="width: 45px; height: 45px;" alt="">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Алена</h6>
                            <small>Специалист по недвижимости</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Если вы ищете надежное агентство недвижимости, то это отличный выбор! Рекомендую
                        их всем, кто ценит качество и профессионализм в работе.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/client_img.svg' %}"
                             style="width: 45px; height: 45px;" alt="">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Алим</h6>
                            <small>Клиент</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->